DATABASE_URL=sqlite:///./mjajc.db
OPENAI_API_KEY=
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_SENDER=noreply@example.com
APP_LOGIN_USERNAME=admin
APP_LOGIN_PASSWORD_HASH=8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918
SESSION_TTL_HOURS=12
